.button {
	display: inline-block;
	padding: 15px 40px;
	font-size: 22px;
	font-weight: $f-light;
	text-decoration: none;
	color: white;
	background: $primary-color;
	box-shadow: 0px 5px 15px rgba($shadow-color, 0.5);
	border-radius: 100px;
	transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;

	&:hover,
	&:focus {
		background-color: darken($primary-color, 15%);
	}

	&:active {
		background-color: darken($primary-color, 15%);
		transform: translateY(3px);
		box-shadow: 0px 2px 8px rgba(176, 114, 237, 0.7);
	}
}

