.card {
	height: 100%;
	padding: 50px 40px;
	text-align: center;
	border-radius: 30px;
	box-shadow: 0px 10px 25px rgba($shadow-color, 0.2);
}

.card__icon {
	height: 90px;
	width: auto;
}

.card__photo {
	width: 100px;
	height: 100px;
	overflow: hidden;
	border-radius: 50%;
	margin-right: 20px;
	flex: 0 0 100px;
	max-width: 100px;

	> img {
		max-width: 100%;
	}
}


.card__heading {
	font-size: 24px;
	line-height: 1.2;
	font-weight: $f-bold;
	margin: 40px 0 10px 0;
}

.card__text {
	font-size: 16px;
	line-height: 1.5;
	font-weight: $f-light;
}

.card__subheading {
	margin-bottom: 20px;
	text-transform: uppercase;
}

.card--icon-left {
	display: flex;
	padding: 30px;

	.card__heading {
		margin-top: 0;
	}
}