$text-color: 		#363338;
$primary-color: 	#563adf;
$secondary-color:   #CBCBCB;
$shadow-color: 		#b072ed;

$f-light:		300;
$f-regular:     400;
$f-bold: 		700;

$container-width:		1120px;

$grid-col-margin:		15px;